        {% extends 'base.html' %}
        {% load static %}
        {% block main %}
                <!-- offcanvas-overlay start -->
                <div class="offcanvas-overlay hidden fixed inset-0 bg-black opacity-50 z-50"></div>
                <!-- offcanvas-overlay end -->
                <!-- offcanvas-mobile-menu start -->
                <div id="offcanvas-mobile-menu" class="offcanvas left-0 transform -translate-x-full fixed font-normal text-sm top-0 z-50 h-screen xs:w-[300px] lg:w-[380px] transition-all ease-in-out duration-300 bg-white">

                    <div class="py-12 pr-5 h-[100vh] overflow-y-auto">
                        <!-- close button start -->
                        <button class="offcanvas-close text-primary text-[25px] w-10 h-10 absolute right-0 top-0 z-[1]" aria-label="offcanvas">x</button>
                        <!-- close button end -->

                        <!-- offcanvas-menu start -->

                        <nav class="offcanvas-menu mr-[20px]">
                            <ul>
                                <li class="relative block border-b-primary border-b first:border-t first:border-t-primary">
                                    <a href="#" class="block capitalize font-normal text-black hover:text-secondary text-base my-2 py-1 px-5">Home</a>
                                    <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100 capitalize">
                                        <li><a class="text-sm py-2 px-[30px] text-black font-light block transition-all hover:text-secondary" href="/">home 01</a></li>
                                       </ul>
                                </li>
                                <li class="relative block border-b-primary border-b">
                                    <a href="about" class="block capitalize font-normal text-black hover:text-secondary text-base my-2 py-1 px-5">About</a>
                                    <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100 capitalize">
                                        <li><a class="text-sm py-2 px-[30px] text-black font-light block transition-all hover:text-secondary" href="about">About</a></li>

                                        <li><a class="text-sm py-2 px-[30px] text-black font-light block transition-all hover:text-secondary" href="about-v2.html">About v2</a></li>
                                    </ul>

                                </li>
                                <li class="relative block border-b-primary border-b">
                                    <a href="#" class="block capitalize font-normal text-black hover:text-secondary text-base my-2 py-1 px-5">Properties</a>
                                    <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100 capitalize">
                                        <li>
                                            <a class="text-sm py-2 px-[30px] text-black font-light block transition-all hover:text-secondary" href="#">Properties</a>
                                            <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100 capitalize">



                                                <li>
                                                    <a class="text-sm pt-3 px-10 pb-1 text-black font-light block transition-all hover:text-secondary" href="propertiesvs1"> properties v1</a>
                                                </li>
                                                <li>
                                                    <a class="text-sm pt-3 px-10 pb-1 text-black font-light block transition-all hover:text-secondary" href="propertiesvs2"> properties v2</a>
                                                </li>
                                                <li>
                                                    <a class="text-sm pt-3 px-10 pb-1 text-black font-light block transition-all hover:text-secondary" href="add-properties">add properties </a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li>

                                        <li>

                                        </li>

                                    </ul>
                                </li>


                        <div class="px-5 flex flex-wrap mt-3 sm:hidden">
                            <a href="#" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[20px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all">Add
                                Property</a>
                        </div>



                    </div>
                </div>
                <!-- offcanvas-mobile-menu end -->
                <!-- Header end -->

                <!-- Hero section start -->
                <section class="bg-no-repeat bg-center bg-cover bg-[#FFF6F0] h-[350px] lg:h-[513px] flex flex-wrap items-center relative before:absolute before:inset-0 before:content-[''] before:bg-[#000000] before:opacity-[70%]" style="background-image: url('static/assets/images/breadcrumb/bg-1.png');">
                    <div class="container">
                        <div class="grid grid-cols-12">
                            <div class="col-span-12">
                                <div class="max-w-[700px]  mx-auto text-center text-white relative z-[1]">
                                    <h1 class="font-lora text-[32px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl font-medium">
                                        Login now!
                                    </h1>

                                    <p class="text-base mt-5 max-w-[500px] mx-auto text-center">
                                        Huge number of propreties availabe here for buy and sell
                                        also you can find here co-living property as you like
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Hero section end -->

                <!-- contact form start -->
        <div class="py-[80px] lg:py-[120px]">
            <div class="container">
                <form action="/logindata" method="post">
                    {% csrf_token %}

                    <div class="grid grid-cols-12 gap-x-[30px] mb-[-30px]">

                        <!-- LEFT SIDE -->
                        <div class="col-span-12 lg:col-span-6 mb-[30px]">

                            <h2 class="font-lora text-primary text-[24px] sm:text-[30px] xl:text-xl mb-[15px] font-medium">
                                Login to Smart Property Rentals<span class="text-secondary">.</span>
                            </h2>

                            <p class="max-w-[465px] mb-[50px]">
                                Huge number of properties available for buy, sell and rent.
                            </p>

                            <div class="grid grid-cols-12 gap-x-[20px] gap-y-[35px]">

                                <!-- Email -->
                                <div class="col-span-12">
                                    <input
                                        class="input-field font-light w-full sm:w-[400px] border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:outline-none"
                                        type="email"
                                        name="email"
                                        placeholder="Email"
                                        required>
                                </div>

                                <!-- Password -->
                                <div class="col-span-12">
                                    <input
                                        class="input-field font-light w-full sm:w-[400px] border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:outline-none"
                                        type="password"
                                        name="password"
                                        placeholder="Password"
                                        required
                                        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,}"
                                        title="Min 8 chars, include uppercase, lowercase, number & special character">

                                    <p class="text-sm text-gray-500 mt-2">
                                        Min 8 chars: upper, lower, number & special character.
                                    </p>

                                    <!-- Remember + Forgot -->
                                    <div class="flex flex-wrap items-center justify-between w-full sm:w-[400px] mt-[15px]">
                                        <div class="flex items-center">
                                            <input type="checkbox" id="remember" name="remember">
                                            <label for="remember" class="ml-[5px] text-[14px] cursor-pointer">
                                                Remember me
                                            </label>
                                        </div>

                                        <a href="/forgotpassword" class="hover:text-secondary text-[14px]">
        Forgot Password
    </a>
                                    </div>
                                </div>

                                <!-- Submit -->
                                <div class="col-span-12">
                                    <div class="flex flex-wrap items-center">
                                        <button type="submit"
                                            class="relative px-[40px] py-[15px] text-white bg-primary rounded-md hover:bg-secondary transition-all">
                                            Login
                                        </button>

                                        <a href="register" class="ml-[40px] text-primary hover:text-secondary font-medium">
                                            Register
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- RIGHT SIDE IMAGE -->
                        <div class="col-span-12 lg:col-span-6 mb-[30px]">
                            <img src="static/assets/images/contact/image.png"
                                class="w-full h-auto rounded-[10px]" alt="image">
                        </div>

                    </div>
                </form>
            </div>
        </div>        <!-- Contact Form End -->



                </div>
                </div>
        </footer>
                    <!-- Footer End -->
                    <a id="scrollUp" class="w-12 h-12 rounded-full bg-primary text-white fixed right-5 bottom-16 flex flex-wrap items-center justify-center transition-all duration-300 z-10" href="#" aria-label="scroll up">

                                    <svg width="25" height="25" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path d="M6.101 261.899L25.9 281.698c4.686 4.686 12.284 4.686 16.971 0L198 126.568V468c0 6.627 5.373 12 12 12h28c6.627 0 12-5.373 12-12V126.568l155.13 155.13c4.686 4.686 12.284 4.686 16.971 0l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L232.485 35.515c-4.686-4.686-12.284-4.686-16.971 0L6.101 244.929c-4.687 4.686-4.687 12.284 0 16.97z" />
                                    </svg>

                    </a>
                </div>


                    <!-- JS Vendor, Plugins & Activation Script Files -->

                    <!-- Vendors JS -->
                    <script src="static/assets/js/vendor/modernizr-3.11.7.min.js"></script>
                    <script src="static/assets/js/vendor/jquery-3.6.0.min.js"></script>
                    <script src="static/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
                    <!-- Plugins JS -->
                    <script src="static/assets/js/plugins/swiper-bundle.min.js"></script>
                    <script src="static/assets/js/plugins/popper.min.js"></script>
                    <script src="static/assets/js/plugins/jquery.magnific-popup.min.js"></script>
                    <script src="static/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
                    <script src="static/assets/js/plugins/parallax.min.js"></script>
                    <script src="static/assets/js/plugins/jquery.waypoints.js"></script>
                    <script src="static/assets/js/plugins/jquery.counterup.min.js"></script>

                    <!-- Activation JS -->
                    <script src="static/assets/js/main.js"></script>



        {% endblock %}